{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('entryView') }}
{% endblock %}

{% block url %}
    <a href="{{ path('entry.index') }}">Liste des clients</a> <i class="trending_flat material-icons ">trending_flat</i> {{ entry.genderName }} {{ entry.surname }} {{ entry.name }}
{% endblock %}

{% block body %}
    <div class="header-box">
        <div class="box current-stay">
            <span class="title_box title_box__blue"><a><i class="material-icons" style="color: #FFF">{% if currentStayNumber > 1 %}keyboard_arrow_left{% endif %}</i></a>Séjour en cours<a><i class="material-icons" style="color: #FFF">{% if currentStayNumber > 1 %}keyboard_arrow_right{% endif %}</i></a></span>
            <div class="content-box">
                <span class="current-stay-number" {% if currentStayNumber < 2 %}style="display: none"{% endif %}>{{ currentStayNumber }}</span>
                {% if not currentStays%}
                    <span class="alert_box__error">Il n'y a aucun séjour en cours</span>
                    <div class="box_edit">
                        <a href="{{ path('stay.add') }}" class="button button__green"><button type="button" formtarget="_parent">Ajouter un séjour</button></a>
                    </div>
                {% else %}
                    <span class="date-box">Du <span class="date date-blue">{{ currentStays[0].arrivedAt|date('d-m-Y') }}</span> aux <span class="date date-blue">{{ currentStays[0].leavedAt|date('d-m-Y') }}</span></span>
                    <div class="stay-informations">
                        <div class="stay-wells">
                            <table>
                                <tr {% if currentStays[0].adult == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/adult.svg') }}"></td>
                                    <td>Adulte</td>
                                    <td>{{ currentStays[0].adult }}</td>
                                </tr>
                                <tr {% if currentStays[0].teenager == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/teenager.svg') }}"></td>
                                    <td>Enfant (+12ans)</td>
                                    <td>{{ currentStays[0].teenager }}</td>
                                </tr>
                                <tr {% if currentStays[0].child == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/child.svg') }}"></td>
                                    <td>Enfant (-12ans)</td>
                                    <td>{{ currentStays[0].child }}</td>
                                </tr>
                                <tr {% if currentStays[0].car == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/car.svg') }}"></td>
                                    <td>Voiture</td>
                                    <td>{{ currentStays[0].car }}</td>
                                </tr>
                                <tr {% if currentStays[0].motorBike == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/motor_bike.svg') }}"></td>
                                    <td>Moto</td>
                                    <td>{{ currentStays[0].motorBike }}</td>
                                </tr>
                                <tr {% if currentStays[0].bike == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/bike.svg') }}"></td>
                                    <td>Vélo</td>
                                    <td>{{ currentStays[0].bike }}</td>
                                </tr>
                                <tr {% if currentStays[0].campingCar == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/camping_car.svg') }}"></td>
                                    <td>Camping-car</td>
                                    <td>{{ currentStays[0].campingCar }}</td>
                                </tr>
                                <tr {% if currentStays[0].caravan == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/caravan.svg') }}"></td>
                                    <td>Caravane</td>
                                    <td>{{ currentStays[0].caravan }}</td>
                                </tr>
                                <tr {% if currentStays[0].tent == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/tent.svg') }}"></td>
                                    <td>Tente</td>
                                    <td>{{ currentStays[0].tent }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="stay-services">
                            <table>
                                <tr {% if currentStays[0].woodenCaravan == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/wooden_caravan.svg') }}"></td>
                                    <td>Roulotte</td>
                                    <td>{{ currentStays[0].woodenCaravan }}</td>
                                </tr>
                                <tr {% if currentStays[0].electricity == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/electricity.svg') }}"></td>
                                    <td>Electricité</td>
                                    <td>{{ currentStays[0].electricity }}</td>
                                </tr>
                                <tr {% if currentStays[0].pet == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/pet.svg') }}"></td>
                                    <td>Animal</td>
                                    <td>{{ currentStays[0].pet }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="box_edit payment_box">
                        {% if currentStays[0].bill %}
                            <span style="font-size:1.4rem; font-weight: 700; color: #EE0000">Emplacement payé</span>
                        {% else %}
                            <span style="font-size:1.4rem; font-weight: 700; color: #99cf16">Emplacement non payé</span>
                        {% endif %}
                    </div>
                    <div class="box_edit">
                        <a href="{{ path('stay.add') }}" class="button button__green"><button type="button" formtarget="_parent">Nouveau</button></a>
                        <a href="{{ path('stay.modify', {'id': currentStays[0].id, 'entry': entry.id}) }}" class="button button__orange"><button type="button" formtarget="_parent">Modifier</button></a>
                        <a id="button_deleteStay" class="button button__red"><button type="button" formtarget="_parent">Supprimer</button></a>
                    </div>
                    <span class="current-stay-spot">{{ currentStays[0].spot }}</span>
                    <aside id="alert_box__stayDelete" class="alert_box" style="display: none">
                        <div class="alert_box__wrapper">
                            <span class="alert_box__text">Voulez-vous supprimer ce séjour ?</span>
                            <div class="box_edit">
                                <a href="{{ path('stay.remove', {'id': currentStays[0].id}) }}" id="alert_deleteButton__yes" class="button button__green"><button type="button" formtarget="_parent">Oui</button></a>
                                <a id="alert_deleteButton__no" class="button button__red"><button type="button" formtarget="_parent">Non</button></a>
                            </div>
                        </div>
                    </aside>
                {% endif %}
            </div>
        </div>
        <div class="box last-stay">
            <span class="title_box title_box__green">Dernier séjour</span>
            <div class="content-box">
                {% if not lastStay%}
                    <span class="alert_box__error">Il n'y a eu aucun séjour avant aujourd'hui</span>
                {% else %}
                    <span class="date-box">Du <span class="date date-green">{{ lastStay[0].arrivedAt|date('d-m-Y') }}</span> aux <span class="date date-green">{{ lastStay[0].leavedAt|date('d-m-Y') }}</span></span>
                    <div class="stay-informations">
                        <div class="stay-wells">
                            <table>
                                <tr {% if lastStay[0].adult == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/adult.svg') }}"></td>
                                    <td>Adulte</td>
                                    <td>{{ lastStay[0].adult }}</td>
                                </tr>
                                <tr {% if lastStay[0].teenager == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/teenager.svg') }}"></td>
                                    <td>Enfant (+12ans)</td>
                                    <td>{{ lastStay[0].teenager }}</td>
                                </tr>
                                <tr {% if lastStay[0].child == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/child.svg') }}"></td>
                                    <td>Enfant (-12ans)</td>
                                    <td>{{ lastStay[0].child }}</td>
                                </tr>
                                <tr {% if lastStay[0].car == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/car.svg') }}"></td>
                                    <td>Voiture</td>
                                    <td>{{ lastStay[0].car }}</td>
                                </tr>
                                <tr {% if lastStay[0].motorBike == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/motor_bike.svg') }}"></td>
                                    <td>Moto</td>
                                    <td>{{ lastStay[0].motorBike }}</td>
                                </tr>
                                <tr {% if lastStay[0].bike == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/bike.svg') }}"></td>
                                    <td>Vélo</td>
                                    <td>{{ lastStay[0].bike }}</td>
                                </tr>
                                <tr {% if lastStay[0].campingCar == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/camping_car.svg') }}"></td>
                                    <td>Camping-car</td>
                                    <td>{{ lastStay[0].campingCar }}</td>
                                </tr>
                                <tr {% if lastStay[0].caravan == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/caravan.svg') }}"></td>
                                    <td>Caravane</td>
                                    <td>{{ lastStay[0].caravan }}</td>
                                </tr>
                                <tr {% if lastStay[0].tent == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/tent.svg') }}"></td>
                                    <td>Tente</td>
                                    <td>{{ lastStay[0].tent }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="stay-services">
                            <table>
                                <tr {% if lastStay[0].woodenCaravan == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/wooden_caravan.svg') }}"></td>
                                    <td>Roulotte</td>
                                    <td>{{ lastStay[0].woodenCaravan }}</td>
                                </tr>
                                <tr {% if lastStay[0].electricity == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/electricity.svg') }}"></td>
                                    <td>Electricité</td>
                                    <td>{{ lastStay[0].electricity }}</td>
                                </tr>
                                <tr {% if lastStay[0].pet == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/pet.svg') }}"></td>
                                    <td>Animal</td>
                                    <td>{{ lastStay[0].pet }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="box_edit payment_box">
                        {% if lastStay[0].bill %}
                            <span style="font-size:1.4rem; font-weight: 700; color: #EE0000">Emplacement payé</span>
                        {% else %}
                            <span style="font-size:1.4rem; font-weight: 700; color: #99cf16">Emplacement non payé</span>
                        {% endif %}
                    </div>
                    <span class="booking-spot">{{ lastStay[0].spot }}</span>
                    <div class="box_edit">
                        <a href="{{ path('stay.modify', {'id': lastStay[0].id, 'entry': entry.id}) }}" class="button button__orange"><button type="button" formtarget="_parent">Modifier</button></a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="entryAndService-information">
            <div class="box entry-information">
                <span class="title_box title_box__orange">Informations client</span>
                <div class="content-box">
                    <div class="content-entry-information">
                        <span style="font-size: 1.1rem; font-weight: 700">{{ entry.genderName }} {{ entry.surname }} {{ entry.name }}</span>
                        <div class="address"><span>{{ entry.address}}</span><span>{{ entry.postalCode ~ ' ' ~ entry.city }}</span></div>
                        <div><i class="material-icons" style="color: #f27716">flag</i> {{ entry.country }}</div>
                        <hr width="300">
                        {% if entry.homePhone %}
                            <div><i class="material-icons" style="color: #f27716">phone</i> {{ entry.homePhone }}</div>
                        {% endif %}
                        {% if entry.phone %}
                            <div><i class="material-icons" style="color: #f27716">smartphone</i> {{ entry.phone }}</div>
                        {% endif %}
                        <hr width="300">
                    </div>
                    <div class="box_edit">
                        <a href="{{ path('entry.modify', {'id': entry.id}) }}" class="button button__orange"><button type="button" formtarget="_parent">Modifier</button></a>
                        <a id="button_deleteUser" class="button button__red"><button type="button" formtarget="_parent">Supprimer</button></a>
                    </div>
                    <aside id="alert_box__entryDelete" class="alert_box" style="display: none">
                        <div class="alert_box__wrapper">
                            <span class="alert_box__text">Voulez-vous supprimer ce client ?</span>
                            <div class="box_edit">
                                <a href="{{ path('entry.remove', {'id': entry.id}) }}" id="alert_deleteButton__yes" class="button button__green"><button type="button" formtarget="_parent">Oui</button></a>
                                <a id="alert_deleteButton__no" class="button button__red"><button type="button" formtarget="_parent">Non</button></a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="box stay-services">
                <span class="title_box title_box__blue">Service en cours</span>
                <div class="content-box service_box">
                    {{ form_start(serviceForm) }}
                    <div class="row row_expanded"><div class="row_item"><img style="height: 40px; width: 40px" src="{{ asset('img/washing.svg') }}"><span class="number">{{ services.washingToken }}</span></div>{% if form_errors(serviceForm.washing_token) %}<div class="row_errors"><span class="row_errors__box">Erreur</span>{{ form_errors(serviceForm.washing_token) }}</div>{% endif %}<span>{{ form_label(serviceForm.washing_token) }}</span><span>{{ form_widget(serviceForm.washing_token) }}</span></div>
                    <div class="row row_expanded"><div class="row_item"><img style="height: 40px; width: 40px" src="{{ asset('img/drying.svg') }}"><span class="number">{{ services.dryingToken }}</span></div>{% if form_errors(serviceForm.drying_token) %}<div class="row_errors"><span class="row_errors__box">Erreur</span>{{ form_errors(serviceForm.drying_token) }}</div>{% endif %}<span>{{ form_label(serviceForm.drying_token) }}</span><span>{{ form_widget(serviceForm.drying_token) }}</span></div>
                    <div class="row row_expanded"><div class="row_item"><img style="height: 40px; width: 40px" src="{{ asset('img/shower.svg') }}"><span class="number">{{ services.externalShower }}</span></div>{% if form_errors(serviceForm.external_shower) %}<div class="row_errors"><span class="row_errors__box">Erreur</span>{{ form_errors(serviceForm.external_shower) }}</div>{% endif %}<span>{{ form_label(serviceForm.external_shower) }}</span><span>{{ form_widget(serviceForm.external_shower) }}</span></div>
                    <div class="box_edit">
                    <button class="service_add__button">Ajouter</button>
                    {{ form_end(serviceForm) }}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="body-box">
        <div class="box booking-box">
            <span class="title_box title_box__green">Prochaine réservation prévue</span>
            <div class="content-box">
                {% if not booking%}
                    <span class="alert_box__error">Il n'y a eu aucune réservation de prévu</span>
                    <div class="box_edit">
                        <a href="{{ path('stay.add') }}" class="button button__green"><button type="button" formtarget="_parent">Ajouter une réservation</button></a>
                    </div>
                {% else %}
                    <span class="date-box">Du <span class="date date-green">{{ booking[0].arrivedAt|date('d-m-Y') }}</span> aux <span class="date date-green">{{ booking[0].leavedAt|date('d-m-Y') }}</span></span>
                    <div class="stay-informations">
                        <div class="stay-wells">
                            <table>
                                <tr {% if booking[0].adult == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/adult.svg') }}"></td>
                                    <td>Adulte</td>
                                    <td>{{ booking[0].adult }}</td>
                                </tr>
                                <tr {% if booking[0].teenager == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/teenager.svg') }}"></td>
                                    <td>Enfant (+12ans)</td>
                                    <td>{{ booking[0].teenager }}</td>
                                </tr>
                                <tr {% if booking[0].child == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/child.svg') }}"></td>
                                    <td>Enfant (-12ans)</td>
                                    <td>{{ booking[0].child }}</td>
                                </tr>
                                <tr {% if booking[0].car == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/car.svg') }}"></td>
                                    <td>Voiture</td>
                                    <td>{{ booking[0].car }}</td>
                                </tr>
                                <tr {% if booking[0].motorBike == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/motor_bike.svg') }}"></td>
                                    <td>Moto</td>
                                    <td>{{ booking[0].motorBike }}</td>
                                </tr>
                                <tr {% if booking[0].bike == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/bike.svg') }}"></td>
                                    <td>Vélo</td>
                                    <td>{{ booking[0].bike }}</td>
                                </tr>
                                <tr {% if booking[0].campingCar == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/camping_car.svg') }}"></td>
                                    <td>Camping-car</td>
                                    <td>{{ booking[0].campingCar }}</td>
                                </tr>
                                <tr {% if booking[0].caravan == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/caravan.svg') }}"></td>
                                    <td>Caravane</td>
                                    <td>{{ booking[0].caravan }}</td>
                                </tr>
                                <tr {% if booking[0].tent == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/tent.svg') }}"></td>
                                    <td>Tente</td>
                                    <td>{{ booking[0].tent }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="stay-services">
                            <table>
                                <tr {% if booking[0].woodenCaravan == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/wooden_caravan.svg') }}"></td>
                                    <td>Roulotte</td>
                                    <td>{{ booking[0].woodenCaravan }}</td>
                                </tr>
                                <tr {% if booking[0].electricity == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/electricity.svg') }}"></td>
                                    <td>Electricité</td>
                                    <td>{{ booking[0].electricity }}</td>
                                </tr>
                                <tr {% if booking[0].pet == 0 %} class="invisible" {% else %} class="visible" {% endif %}>
                                    <td><img style="height: 40px; width: 40px" src="{{ asset('img/pet.svg') }}"></td>
                                    <td>Animal</td>
                                    <td>{{ booking[0].pet }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="box_edit payment_box">
                        {% if booking[0].bill %}
                            <span style="font-size:1.4rem; font-weight: 700; color: #EE0000">Emplacement payé</span>
                        {% else %}
                            <span style="font-size:1.4rem; font-weight: 700; color: #99cf16">Emplacement non payé</span>
                        {% endif %}
                    </div>
                    {% if booking[0].spot %}
                        <span class="booking-spot">{{ booking[0].spot }}</span>
                    {% endif %}
                    <div class="box_edit">
                        <a href="{{ path('booking.arrival', {'id': booking[0].id}) }}" class="button button__green"><button type="button" formtarget="_parent">Arrivé</button></a>
                        <a href="{{ path('stay.modify', {'id': booking[0].id, 'entry': entry.id}) }}" class="button button__orange"><button type="button" formtarget="_parent">Modifier</button></a>
                        <a id="button_deleteBooking" class="button button__red"><button type="button" formtarget="_parent">Supprimer</button></a>
                    </div>
                    <aside id="alert_box__bookingDelete" class="alert_box" style="display: none">
                        <div class="alert_box__wrapper">
                            <span class="alert_box__text">Voulez-vous supprimer cette réservation ?</span>
                            <div class="box_edit">
                                <a href="{{ path('stay.remove', {'id': booking[0].id}) }}" id="alert_deleteButton__yes" class="button button__green"><button type="button" formtarget="_parent">Oui</button></a>
                                <a id="alert_deleteButton__no" class="button button__red"><button type="button" formtarget="_parent">Non</button></a>
                            </div>
                        </div>
                    </aside>
                {% endif %}
            </div>
        </div>
        <div class="attendanceAndBill-box">
            <div class="box attendance-box">
                <span class="title_box title_box__orange">Fréquentation / Garage mort</span>
                    {% if currentStays %}
                        <div class="content-box deadGarage_box">
                            <div class="deadGarage_list">
                                {% for deadGarage in deadGarages %}
                                    <div>
                                        {{ deadGarage.startedAt|date('d-m-Y') }}
                                        {{ deadGarage.stoppedAt|date('d-m-Y') }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div style="border-left: solid 1px #AAAAAA; padding-left: 10px">
                                {{ form_start(deadGarageForm) }}
                                <div class="row row_form"><div>{% if form_errors(deadGarageForm.started_at) %}<div class="row_errors"><span class="row_errors__box">Erreur</span>{{ form_errors(deadGarageForm.started_at) }}</div>{% endif %}{{ form_label(deadGarageForm.started_at) }}{{ form_widget(deadGarageForm.started_at) }}</div></div>
                                <div class="row row_form"><div>{% if form_errors(deadGarageForm.stopped_at) %}<div class="row_errors"><span class="row_errors__box">Erreur</span>{{ form_errors(deadGarageForm.stopped_at) }}</div>{% endif %}{{ form_label(deadGarageForm.stopped_at) }}{{ form_widget(deadGarageForm.stopped_at) }}</div></div>
                                <div class="box_edit">
                                    <button class="service_add__button">Ajouter</button>
                                    {{ form_end(deadGarageForm) }}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="content-box">
                            <span class="alert_box__error">Il n'y a aucun séjour en cours</span>
                        </div>
                    {% endif %}
            </div>
            <div class="box bill">
                <span class="title_box title_box__blue">Factures</span>
                <div class="content-box bill_box">
                    <div class="bill_form__box">
                        <form class="bill_form" action="{{ path('bill.pay') }}" method="get">
                            <input type="hidden" name="entry" value="{{ entry.id }}">
                            {% for notPaidStay in notPaidStays %}
                                {% if notPaidStay.booking == false %}
                                <div>
                                    <input type="checkbox" name="stays[]" id="{{ notPaidStay.id }}" value="{{ notPaidStay.id }}">
                                    <label for="{{ notPaidStay.id }}">Séjour du {{ notPaidStay.arrivedAt|date('d-m-Y') }} au {{ notPaidStay.leavedAt|date('d-m-Y') }} "{{ notPaidStay.duringStay }} nuit(s)" </label>
                                </div>
                                {% else %}
                                <div>
                                    <input type="checkbox" name="stays[]" id="{{ notPaidStay.id }}" value="{{ notPaidStay.id }}">
                                    <label for="{{ notPaidStay.id }}">Réservation du {{ notPaidStay.arrivedAt|date('d-m-Y') }} au {{ notPaidStay.leavedAt|date('d-m-Y') }} "{{ notPaidStay.duringStay }} nuit(s)" </label>
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% if services.dryingToken != 0 or services.washingToken != 0 or services.externalShower != 0 %}
                                <div>
                                    <input type="checkbox" name="service[]" id="{{ services.id }}" value="{{ [services.washingToken, services.dryingToken, services.externalShower]|json_encode }}">
                                    <label for="{{ services.id }}">Services en cours</label>
                                </div>
                            {% endif %}
                            <input class="button button__green" type="submit" value="Payer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('entryView') }}
{% endblock %}